# Ignore everything by default: setup whitelisting
*
!*/

# Additional folders to ignore
/straight/

### WHITELIST
# Track this file
!.gitignore

# Installation files
!install_macosx.sh
!install_linux.sh

# Base config files
!README.org
!init.el

# Dashboard img
!spree.png

# Snippets
!snippets/
!snippets/**/*

# Prot-files
!repos/**/*
/repos/scel/
